 .add-form-container {
     position: absolute !important;
     left: 18% !important;
     background-color: #EEF6FF !important;
 }

 .head-font {
     font-family: Lato !important;
     font-size: 35px !important;
     font-weight: 800 !important;
     line-height: 42px !important;
     letter-spacing: 0em !important;
     text-align: left !important;


 }

 .subtitle {
     font-family: Lato !important;
     font-size: 18px !important;
     font-weight: 400 !important;
     line-height: 22px !important;
     letter-spacing: 0em !important;
     text-align: center !important;
     margin-top: 10px !important;

 }

 .body-text {
     margin-left: 20px !important;
     width: 79vw !important;
 }

 .bg-color {
     background-color: white !important;
 }

 .multi-level {
     /* padding-top: 10px !important; */
 }

 .form-containers {
     width: 60vw !important;
     margin-top: 30px !important;
     padding-left: 80px !important;
     padding-top: 80px !important;
 }

 .add-form-control {
     width: 300px !important;
     height: 50px !important;
     margin-top: 5px !important;
     background: gainsboro !important;
     border: none !important;
     border-radius: 3px !important;
 }

 .button-container {
     margin-top: 50px !important;
     padding-bottom: 40px !important;
     margin-left: -30px !important;
     /* margin-bottom: 50px !important; */
 }

 @media only screen and (max-width: 600px) {
     .form-containers {
         width: 88vw !important;
         /* margin-top: 30px !important; */
         padding-left: 60px !important;
         /* padding-top: 80px !important; */
     }

     .add-form-container {
         position: absolute !important;
         left: 8% !important;
         background-color: #EEF6FF !important;
     }
 }

 /* --------test---------- */
 .test-body-text {
     padding-top: 8px !important;
     padding-bottom: 8px !important;
     width: 81vw !important;
 }

 .test-form-containers {
     width: 80vw !important;
     margin-top: 10px !important;
     padding-left: 40px !important;
     padding-top: 35px !important;
 }

 .test-add-form-control {
     width: 73.5vw !important;
     margin-bottom: 50px !important;
     height: 50px !important;
     margin-top: 5px !important;
     background: gainsboro !important;
     border: none !important;
     border-radius: 3px !important;
 }

 .logoutdrop {
     z-index: 11111111111 !important;
 }

 .t-width {
     width: 22vw !important;
 }

 .tech-width {
     width: '75vw' !important;
 }

 .tech-width .error {
     margin-top: -100px !important;
 }

 .add-type-head {
     display: flex !important;
     flex-direction: row !important;
     justify-content: space-between !important;
     align-items: center !important;
 }

 .multi-select-drop-down {
     margin-top: 0px !important;
     margin-left: -10px !important;
 }

 .tt-width {
     width: 20vw !important;
 }

 .time-allocated {
     display: flex !important;
     flex-direction: row !important;
     justify-content: space-between !important;
     align-items: center !important;
     margin-right: -8px !important;
     margin-top: -5px !important;
 }

 /* --------------- */
 .admin {
     text-transform: lowercase !important;
     color: black !important;
 }

 /* tables */
 .css-levciy-MuiTablePagination-displayedRows {
     color: black !important;
 }

 .css-pdct74-MuiTablePagination-selectLabel {

     color: black !important;
 }

 .no-data-fond {
     background-color: red !important;
 }

 /* ------------upload modal------------------ */
 .head-upload-modal {
     position: absolute !important;
     top: 50% !important;
     left: 50% !important;
     transform: translate(-50%, -50%) !important;
     width: 600px !important;
     height: 650px !important;
     background-color: white !important;
     border: 2px solid #000 !important;
     box-shadow: 24px !important;
     padding-top: 2px !important;
     padding-left: 4px !important;
     padding-right: 4px !important;
     padding-bottom: 3px !important;
     border: none !important;
     outline: none !important;
     border-radius: 10px !important;
     /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important; */
 }

 .upload-student {
     text-align: center;
     margin-top: 25px;
     margin-bottom: 10px;
     padding-top: 25px !important;

 }

 .university_name {
     display: flex !important;
     justify-content: space-between !important;
     align-items: center !important;
     flex-direction: row !important;
     padding-left: 20px !important;
     padding-right: 20px !important;
     margin-top: 50px !important;
     padding-top: 20px !important;
 }

 .institute_name {
     display: flex !important;
     justify-content: space-between !important;
     align-items: center !important;
     flex-direction: row !important;
     padding-left: 20px !important;
     padding-right: 20px !important;
     /* margin-top: 50px !important; */
     padding-bottom: 20px !important;
     margin-top: 5px !important;
 }

 .uni-inst {
     background-color: #EEF6FF !important;
     margin-left: 20px !important;
     margin-right: 20px !important;
     border-radius: 10px !important;

 }

 .qualification {
     margin-top: 30px;
     margin-left: 20px;
 }

 .dropdone {
     margin-top: 40px !important;
     margin-left: 20px !important;
     margin-right: 20px !important;
 }

 /* ----------------pai chart----------------- */
 .dashboar-head-box {
     display: flex !important;
     justify-content: space-between !important;
     /* padding-left: 50px !important; */
     padding-right: 200px !important;
 }

 .pai-chart {
     margin-top: 50px !important;
     width: 450px !important;
     height: 450px !important;
 }

 /* upload form  */
 /* .upload-select . */



 /* modals */
 .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
     background-color: transparent !important;
 }

 /* table bottom */
 /* .css-10cbwbc-MuiTableRow-root.Mui-selected {
     background-color: white !important;
 } */

 tr:nth-child(even) {
     background-color: white !important;
 }

 tr:nth-child(odd) {
     background-color: white !important;
 }

 /* ----doubts----- */
 .doubts {
     font-size: 28px !important;
     font-weight: 400px !important;
     width: 50px !important;
     height: 20px !important;
     margin-top: -50px !important;
     margin-left: -30px !important;
     color: #000 !important;

 }

 .doubts:hover {
     color: blue !important;


 }

 .add-test-type {
     margin-top: 10px !important;
     margin-bottom: 10px !important;
 }

 .toglebox {
     width: 200px !important;
     height: 160px !important;
 }

 /* table head */
 /* .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon {
     display: none !important;
 } */
 .table-header {
     margin-left: -180px !important;
     position: relative;
     right: 20px !important;
 }

 .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {

     border: 2px solid black !important;
     border-radius: 3px !important;
 }


 .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {

     border: 2px solid black !important;
     border-radius: 3px !important;

 }

 /* .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
     border: none !important;
     border-radius: 3px !important;
 } */

 /* .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input.MuiInputBase-formControl {
     outline: none !important;
     border: none !important;
 } */

 .MuiInputBase-root .MuiOutlinedInput-root.Mui-focused .MuiInputBase-colorPrimary .MuiInputBase-formControl .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
     outline: none !important;
     border: none !important;
 } 

/* date-time-clock */

.date-picker-clock .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 10% !important;
    margin-bottom: 50px !important;
    margin-left: 16px !important;
   
    margin-top: 45px !important;
}
.lng-cng{
    height: 37px;
    border: none;
    font-size: 20px;
    color: #746363;
}